<form #themeForm="ngForm">
  <h4>Theme Options</h4>
  <div>
    <!-- Theme level menu -->
    <mat-form-field>
      <mat-label>Theme level</mat-label>
      <mat-select [(value)]="themeLevel">
        <mat-option value="global">Global</mat-option>
        <mat-option value="service">Service</mat-option>
        <mat-option value="song">Song</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Themes display -->
  <div class="theme-container content" *ngIf="isThemeLevelSupported()">
    <div *ngFor="let theme of themeList;">
      <mat-card class="theme-card" (click)='setTheme(theme.name)' [class.selected]="theme.selected">
        <mat-card-content>
          <img [src]="theme.thumbnail"/>
          <div class="theme-title">{{ theme.name }}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-error *ngIf="!isThemeLevelSupported()">Song level theme changing not supported. Change your theme level to Global or Service</mat-error>
</form>