.lower-third {
    background:#00FF00;
    min-height: 100vh;
    justify-content: flex-end;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 100%;
    &:not(.embedded) {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1200;
    }

    .slide {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        white-space: pre-wrap;
        margin-bottom: 2rem;
        flex: 0;
        text-align: center;
    }

    .slide-item {
        font-size: 28pt;
        line-height: 1.15;
        font-weight: 700;
        color: white;
        text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.7);
    }
}
