<div
  class="overlay"
  [class.embedded]="embedded"
  [style.--openlp-stage-font-scale]="fontScale"
>
  <div class="overlay-content">
    <div class="tags">
      <span *ngFor="let tag of tags" [class.active]="tag.active">{{ tag.text }}</span>
    </div>
    <div class="container">
      <app-stage-view-item [slide]="currentSlides[activeSlide]" [active]="true"></app-stage-view-item>
      <div class="nextSlides">
        <app-stage-view-item [slide]="slide" *ngFor="let slide of nextSlides"></app-stage-view-item>
      </div>
    </div>
  </div>
  <div class="toolbar">
    <a class="back-button" mat-mini-fab color="" routerLink="/" [matTooltip]="'Go back to controller'" *ngIf="!embedded">
      <mat-icon>arrow_back</mat-icon>
    </a>
    <button
      mat-mini-fab
      class="show-notes"
      [matTooltip]="'Show/hide notes'"
      [color]="showNotes ? 'primary' : ''"
      [class.show-notes-disabled]="!showNotes"
      (click)="showNotes = !showNotes"
    >
      <mat-icon>sticky_note_2</mat-icon>
    </button>
    <div class="time">{{ (openlpService.getIsTwelveHourTime()) ? (time|date:'h:mm a') : (time|date:'HH:mm') }}</div>
  </div>
  <div class="sidebar" *ngIf="(showNotes || embedded) && notes">
    <div class="notes" [innerHTML]="notes|nl2br"></div>
  </div>
</div>
